<% provide(:title, 'About Us') %>
<h1>About Us</h1>

<p>
  The <a href="https://www.seattleu.edu/scieng/comsci/Default.aspx?id=59112">Seattle University's Team PACTO</a>
  is comprised of 4 SU computer science students and one retrospector. 
  <ul>
  	<li>Anthony "The Cheese" Marcheselli</li>
  	<li>Owen "Tres Leche" Pragel
  	<li>Chris "Someguy" Reeder </li>
  	<li>Tim "Reliable" Reilly</li>
  	
  </ul>
</p>
<p>
  Philips Healthcare produces ultrasound imaging solutions for hospitals around the world. Currently, patients are given DVDs or VHS tapes of their ultrasound exams. For medical professionals, hospitals store ultrasound exams on internal servers that may be difficult to access remotely. Philips Healthcare has asked our team to create a web-based interface that allows patients and doctors to view and download the results of ultrasound exams. Our team has developed an easy-to-use system so that doctors and patients can securely and quickly see the results of ultrasound exams.
</P>
<p>
  <a href= "http://dicom.nema.org/">About DICOM</a>: "Digital Imaging and Communications in Medicine (DICOM) is a standard for handling, storing, printing, and transmitting information in medical imaging. It includes a file format definition and a network communications protocol. The communication protocol is an application protocol that uses TCP/IP to communicate between systems. DICOM files can be exchanged between two entities that are capable of receiving image and patient data in DICOM format." -Wikipedia
</p>

<p>
	<a href="http://www.philips.com/about/company/history/ourheritage/index.page">Philips Heritage</a>: The foundations of Philips were laid in 1891 when Gerard Philips and his father Frederik Philips established Philips & Co. in Eindhoven, the Netherlands. A few years later, in 1895, Gerard's brother Anton Philips strengthened the young company. He proved to be a great commercial talent and within a few years Philips belonged to the largest producers of light bulbs in the world. Stimulated by the Industrial Revolution in Europe, Philips’ first research laboratory was established in 1914 and the company started introducing its first innovations in the x-ray and radio technology. Over the years, the list of inventions has only been growing to include many breakthroughs that have continued to enrich people’s everyday lives.
</p>
