<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Visit the team ENGR 409 at Seattle University
</p>
<p>
	Seattle University Computer Science 
	<a href="http://www.seattleu.edu/about/contact/">contact page</a>
</p>