<% if signed_in? %>
<% if current_user.admin == true %>
<p>


stuff

</p>
<% end %>
	<p> Access Denied: You need to be an admin to access this page. <p>
<% else %>
	<%= render 'shared/not_logged_in' %>
<% end %>