<h1>You need to be logged in to view this page.</h1>
<center>
<p>New user? <%= link_to "Sign up now!", signup_path %>
<br> Already have an account? <%= link_to "Sign in!", signin_path %>
</p></center>

