<h1>Listing Dicom Images</h1>

<table>
  <tr>
    <th>Index</th>
    <th>Id</th>
	<th>Show Image</th>
  </tr>
  
<%=  @coll.find("filename" => "A dicom file").each_with_index  {|doc, counter| %>
  <tr>
	<td> <%= counter %> </td>
	<td> <%= doc["_id"].to_s %> </td>
	<td> <%= link_to 'Show', {:action=> 'show' , :id=> doc["_id"].to_s }%> </td>
  </tr>
<%  } %>
</table>