<% provide(:title, 'Image Viewing') %>
<%= javascript_include_tag "application" %>


<body>
<script type="text/javascript">
	var app = new DcmApp('view-area');
	
	
	
	var ready;
	ready = function() {
	app.init();
	app.load_string("<%= Base64.strict_encode64(@file.read()) %>");
	app.curr_file_idx = 0;
	app.draw_image();
	for(clut in cluts) {
            $("#clut-select optgroup").append($("<option>").val(clut).text(clut));
        }
	
	$("#clut-select").change(function() {
            app.set_clut($(this).val());
        });
	 $("#view-metadata").click(function() {
            app.fill_metadata_table();
            $("#metadata-dialog").dialog({
                modal: true,
                width: 600,
                button: {
                    'Ok': function() {
                        $(this).dialog('close');
                    }
                }
            });
        });

	};

	$(document).ready(ready);
	$(document).on('page:load', ready);
	
	</script>
   <div id="view-area" style="height:700px">
        
    </div>
	<div id="control-area" style="height:120px">
        
    </div>
			<%= link_to 'Back', exams_path %>
    <div id="viewer" class="box">
        <div id="viewer-bar">
            <div id="view-metadata" class="tool-button">Metadata</div>
            <select id="clut-select">
                <optgroup label="CLUT">
                </optgroup>
            </select>
            <div id="button-bar-horz">
                <div id="butt-reset" class="tool-button">Reset</div>
            </div>
        </div>
<table id="metadata-table" width="100%">
		<thead>
			<tr>
				<td width="15%">Tag</td>
				<td width="40%">Name</td>
				<td width="35%">Value</td>
			</tr>
		</thead>
	<tbody>
	</tbody>
</table>
</body>