<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Philips ultraview!</h1>
    <p>
	<br>
      <%= @user %> Wanted to share with you an ultrasound image
    </p>
    <p>
      To view it, just select the link below <br>
	  <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>