<footer class="footer">
  <small>
    <a href="https://www.seattleu.edu/">Seattle University</a>
    | Team Pacto
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Built With Rails</a></li>
    </ul>
  </nav>
</footer>
